# History and data files
.Rhistory
.Rapp.history
.RData

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# knitr and R markdown
/*_cache/
/cache/
*.utf8.md
*.knit.md

# object and shared objects
*.o
*.so

# vim
*.swp
*.swo
*~

# R package build/check
*.tar.gz
*.Rcheck/

# miscellaneous
0*.patch
*.bak
*.orig
