# Load Fortran symbol table
useDynLib(TTR)

# User visible TTR functions
export(adjRatios)
export(ADX)
export(aroon)
export(ATR)
export(BBands)
export(CCI)
export(chaikinAD)
export(chaikinVolatility)
export(CLV)
export(CMF)
export(CMO)
export(DEMA)
export(DPO)
export(DonchianChannel)
export(EMA)
export(EMV)
export(EVWMA)
export(getYahooData)
export(GMMA)
export(growth)
export(KST)
export(lags)
export(MACD)
export(momentum)
export(MFI)
export(OBV)
export(ROC)
export(RSI)
export(runCor)
export(runCov)
export(runMAD)
export(runMax)
export(runMean)
export(runMedian)
export(runMin)
export(runSD)
export(runSum)
export(runVar)
export(SAR)
export(SMA)
export(SMI)
export(stoch)
export(stockSymbols)
export(TDI)
export(TRIX)
export(VHF)
export(wilderSum)
export(williamsAD)
export(WMA)
export(WPR)
export(volatility)
export(ZLEMA)
export(ZigZag)
